{% extends 'base.html.twig' %}
{% block body %}
    {% if access.userlist %}
        <div class="container-fluid">
            <div class="row mart10">
                <div class="col-12 shadow-lg bg-white1">
                    <form class="form">
                        <div class="row mart10">
                            <div class="col-10">
                                <div class="form-row">
                                    {{ include('sub_form_dates.html.twig', { 'article': article }) }}
                                </div>
                            </div>
                            <div class="col-2">
                                <button type="submit" class="btn btn-sm btn-primary">Применить фильтр</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-center mart10 padt01">
                    <a href="/users">
                        <button class="btn btn-success">Список пользователей</button>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-6 text-center mart10 marb20 padt01">
                    <div class="card border-secondary mb-3 shadow-lg">
                        <div class="card-header">Статистика источников заявок:</div>
                        <div class="card-body">
                            <p class="card-text">
                            <div class="row">
                                <div class="col-12">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Partner</th>
                                            {% for list in statList %}
                                                <th>{{ list.picture | raw }}</th>
                                            {% endfor %}
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for stat in partnerStat %}
                                            <tr>
                                                <td>{{ stat|first.name }}</td>
                                                {% for list in statList %}
                                                    <td>{{ stat[list.label].qty }}</td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            </p>
                        </div>
                    </div>

                </div>

                <div class="col-6 text-center mart10 marb20 padt01">
                    <div class="card border-secondary mb-3 shadow-lg">
                        <div class="card-header">Статистика источников заявок:</div>
                        <div class="card-body">
                            <p class="card-text">
                            <div class="row">
                                <div class="col-12">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>User</th>
                                            {% for list in statList %}
                                                <th>{{ list.picture | raw }}</th>
                                            {% endfor %}
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for stat in userStat %}
                                            <tr>
                                                <td>{{ stat|first.name }}</td>
                                                {% for list in statList %}
                                                    <td>{{ stat[list.label].qty }}</td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            </p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        </div>
        </div>
    {% endif %}
{% endblock %}
